.mainCircleOut {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    width: 100%
}

@media(max-width:1199.9px) {
    .mainCircleOut {
        display: none;
    }
}

@media(min-width:1199.9px) {
    .mainCircleOut {
        position: absolute;
        right: 0;
        top: 52%;
        transform: translate(30%, -50%);
        padding-top: 0;
        width: 757px
    }
}

@media(min-width:1921px) {
    .mainCircleOut {
        transform: translateY(-50%);
        right: calc(50% - 905px)
    }
}

@media(max-width:756px) {
    .mainCircleOut {
        transform: scale(.5);
        width: 757px;
        height: 400px
    }
}

.mainCircleOut {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    width: 100%
}

@media(max-width:1199.9px) {
    .mainCircleOut {
        display: none
    }
}

@media(min-width:1199.9px) {
    .mainCircleOut {
        position: absolute;
        right: 0;
        top: 52%;
        transform: translate(30%, -50%);
        padding-top: 0;
        width: 757px
    }
}

@media(min-width:1921px) {
    .mainCircleOut {
        transform: translateY(-50%);
        right: calc(50% - 905px)
    }
}

@media(max-width:756px) {
    .mainCircleOut {
        transform: scale(.5);
        width: 757px;
        height: 400px
    }
}

.mainCircle {
    width: 677px;
    height: 677px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
}

.big-circle {
    height: 100%;
    width: 100%;
    position: relative;
    border: 1px solid #161616;
    animation: Rotate 15s linear infinite;
    -webkit-animation: Rotate 15s linear infinite
}

.big-circle,
.icon-block {
    border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center
}

.icon-block {
    width: 90px;
    height: 90px;
    position: absolute;
    background: #232323;
    padding: 20px
}

.icon-block img {
    margin: 0 auto;
    width: 86%;
    animation: Rotate-reverse 15s linear infinite;
    -webkit-animation: Rotate-reverse 15s linear infinite
}

.circle .icon-block img {
    animation: Rotate 15s linear infinite;
    -webkit-animation: Rotate 15s linear infinite
}

.big-circle .icon-block:nth-child(2n),
.circle .icon-block:nth-child(2n) {
    width: 16px;
    height: 16px;
    padding: 0
}

.big-circle .icon-block:first-child {
    top: -45px;
    left: calc(50% - 45px)
}

.big-circle .icon-block:nth-child(2) {
    top: calc(10% - 8px);
    right: 128px
}

.big-circle .icon-block:nth-child(3) {
    top: calc(35% - 45px);
    right: -21px
}

.big-circle .icon-block:nth-child(4) {
    top: calc(60% - 8px);
    right: 0
}

.big-circle .icon-block:nth-child(5) {
    top: calc(85% - 45px);
    right: 45px
}

.big-circle .icon-block:nth-child(6) {
    bottom: -8px;
    left: calc(50% - 8px)
}

.big-circle .icon-block:nth-child(7) {
    top: calc(85% - 45px);
    left: 45px
}

.big-circle .icon-block:nth-child(8) {
    top: calc(60% - 8px);
    left: 0
}

.big-circle .icon-block:nth-child(9) {
    top: calc(35% - 45px);
    left: -21px
}

.big-circle .icon-block:nth-child(10) {
    top: calc(10% - 8px);
    left: 128px
}

.circle {
    animation: Rotate-reverse 15s linear infinite;
    -webkit-animation: Rotate-reverse 15s linear infinite;
    position: absolute;
    width: 60%;
    height: 60%;
    border: 1px solid #161616;
    border-radius: 50%
}

.circle .icon-block:first-child {
    top: -23px;
    left: 70px
}

.icon-block {
    border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center
}

.icon-block {
    width: 90px;
    height: 90px;
    position: absolute;
    background: #232323;
    padding: 20px
}

.icon-block img {
    margin: 0 auto;
    width: 86%;
    animation: Rotate-reverse 15s linear infinite;
    -webkit-animation: Rotate-reverse 15s linear infinite
}

.circle .icon-block img {
    animation: Rotate 15s linear infinite;
    -webkit-animation: Rotate 15s linear infinite
}

.big-circle .icon-block:nth-child(2n),
.circle .icon-block:nth-child(2n) {
    width: 16px;
    height: 16px;
    padding: 0
}

.big-circle .icon-block:first-child {
    top: -45px;
    left: calc(50% - 45px)
}

.big-circle .icon-block:nth-child(2) {
    top: calc(10% - 8px);
    right: 128px
}

.big-circle .icon-block:nth-child(3) {
    top: calc(35% - 45px);
    right: -21px
}

.big-circle .icon-block:nth-child(4) {
    top: calc(60% - 8px);
    right: 0
}

.big-circle .icon-block:nth-child(5) {
    top: calc(85% - 45px);
    right: 45px
}

.big-circle .icon-block:nth-child(6) {
    bottom: -8px;
    left: calc(50% - 8px)
}

.big-circle .icon-block:nth-child(7) {
    top: calc(85% - 45px);
    left: 45px
}

.big-circle .icon-block:nth-child(8) {
    top: calc(60% - 8px);
    left: 0
}

.big-circle .icon-block:nth-child(9) {
    top: calc(35% - 45px);
    left: -21px
}

.big-circle .icon-block:nth-child(10) {
    top: calc(10% - 8px);
    left: 128px
}

.circle {
    animation: Rotate-reverse 15s linear infinite;
    -webkit-animation: Rotate-reverse 15s linear infinite;
    position: absolute;
    width: 60%;
    height: 60%;
    border: 1px solid #161616;
    border-radius: 50%
}

.circle .icon-block:first-child {
    top: -23px;
    left: 70px
}

.circle .icon-block:nth-child(2) {
    top: calc(15% - 45px);
    right: 102px
}

.circle .icon-block:nth-child(3) {
    top: calc(30% - 45px);
    right: -28px
}

.circle .icon-block:nth-child(4) {
    bottom: calc(35% - 8px);
    right: -1px
}

.circle .icon-block:nth-child(5) {
    bottom: calc(2% - 23px);
    right: 62px
}

.circle .icon-block:nth-child(6) {
    top: calc(98% - 8px);
    left: 132px
}

.circle .icon-block:nth-child(7) {
    bottom: calc(23% - 23px);
    left: -28px
}

.circle .icon-block:nth-child(8) {
    top: calc(35% - 8px);
    left: 2px
}

.mainCircleOut {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    width: 100%
}

@media(max-width:1199.9px) {
    .mainCircleOut {
        display: none
    }
}

@media(min-width:1199.9px) {
    .mainCircleOut {
        position: absolute;
        right: 0;
        top: 52%;
        transform: translate(30%, -50%);
        padding-top: 0;
        width: 757px
    }
}

@media(min-width:1921px) {
    .mainCircleOut {
        transform: translateY(-50%);
        right: calc(50% - 905px)
    }
}

@media(max-width:756px) {
    .mainCircleOut {
        transform: scale(.5);
        width: 757px;
        height: 400px
    }
}

.mainCircle {
    width: 677px;
    height: 677px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 50%;
    top: 318px;
}

.big-circle {
    height: 100%;
    width: 100%;
    position: relative;
    border: 1px solid #161616;
    animation: Rotate 15s linear infinite;
    -webkit-animation: Rotate 15s linear infinite
}

.big-circle,
.icon-block {
    border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center
}

.icon-block {
    width: 90px;
    height: 90px;
    position: absolute;
    background: #232323;
    padding: 20px
}

.icon-block img {
    margin: 0 auto;
    width: 86%;
    animation: Rotate-reverse 15s linear infinite;
    -webkit-animation: Rotate-reverse 15s linear infinite
}

.circle .icon-block img {
    animation: Rotate 15s linear infinite;
    -webkit-animation: Rotate 15s linear infinite
}

.big-circle .icon-block:nth-child(2n),
.circle .icon-block:nth-child(2n) {
    width: 16px;
    height: 16px;
    padding: 0
}

.big-circle .icon-block:first-child {
    top: -45px;
    left: calc(50% - 45px)
}

.big-circle .icon-block:nth-child(2) {
    top: calc(10% - 8px);
    right: 128px
}

.big-circle .icon-block:nth-child(3) {
    top: calc(35% - 45px);
    right: -21px
}

.big-circle .icon-block:nth-child(4) {
    top: calc(60% - 8px);
    right: 0
}

.big-circle .icon-block:nth-child(5) {
    top: calc(85% - 45px);
    right: 45px
}

.big-circle .icon-block:nth-child(6) {
    bottom: -8px;
    left: calc(50% - 8px)
}

.big-circle .icon-block:nth-child(7) {
    top: calc(85% - 45px);
    left: 45px
}

.big-circle .icon-block:nth-child(8) {
    top: calc(60% - 8px);
    left: 0
}

.big-circle .icon-block:nth-child(9) {
    top: calc(35% - 45px);
    left: -21px
}

.big-circle .icon-block:nth-child(10) {
    top: calc(10% - 8px);
    left: 128px
}

.circle {
    animation: Rotate-reverse 15s linear infinite;
    -webkit-animation: Rotate-reverse 15s linear infinite;
    position: absolute;
    width: 60%;
    height: 60%;
    border: 1px solid #161616;
    border-radius: 50%
}

.circle .icon-block:first-child {
    top: -23px;
    left: 70px
}

.circle .icon-block:nth-child(2) {
    top: calc(15% - 45px);
    right: 102px
}

.circle .icon-block:nth-child(3) {
    top: calc(30% - 45px);
    right: -28px
}

.circle .icon-block:nth-child(4) {
    bottom: calc(35% - 8px);
    right: -1px
}

.circle .icon-block:nth-child(5) {
    bottom: calc(2% - 23px);
    right: 62px
}

.circle .icon-block:nth-child(6) {
    top: calc(98% - 8px);
    left: 132px
}

.circle .icon-block:nth-child(7) {
    bottom: calc(23% - 23px);
    left: -28px
}

.circle .icon-block:nth-child(8) {
    top: calc(35% - 8px);
    left: 2px
}

.center-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%)
}

.center-logo img {
    max-width: 200px
}

@keyframes Rotate {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes Rotate-reverse {
    0% {
        transform: rotate(1turn)
    }

    to {
        transform: rotate(0deg)
    }
}

@keyframes circle-rotate {
    0% {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(405deg);
    }
}

.icon-block {
    border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.icon-block {
    width: 90px;
    height: 90px;
    position: absolute;
    background: #232323;
    padding: 20px;
}

.icon-block img {
    margin: 0 auto;
    width: 86%;
    animation: Rotate-reverse 15s linear infinite;
    -webkit-animation: Rotate-reverse 15s linear infinite;
}

.circle .icon-block img {
    animation: Rotate 15s linear infinite;
    -webkit-animation: Rotate 15s linear infinite;
}

.big-circle .icon-block:nth-child(2n),
.circle .icon-block:nth-child(2n) {
    width: 16px;
    height: 16px;
    padding: 0;
}

.big-circle .icon-block:first-child {
    top: -45px;
    left: calc(50% - 45px);
}

.big-circle .icon-block:nth-child(2) {
    top: calc(10% - 8px);
    right: 128px;
}

.big-circle .icon-block:nth-child(3) {
    top: calc(35% - 45px);
    right: -21px;
}

.big-circle .icon-block:nth-child(4) {
    top: calc(60% - 8px);
    right: 0;
}

.big-circle .icon-block:nth-child(5) {
    top: calc(85% - 45px);
    right: 45px;
}

.big-circle .icon-block:nth-child(6) {
    bottom: -8px;
    left: calc(50% - 8px);
}

.big-circle .icon-block:nth-child(7) {
    top: calc(85% - 45px);
    left: 45px;
}

.big-circle .icon-block:nth-child(8) {
    top: calc(60% - 8px);
    left: 0;
}

.big-circle .icon-block:nth-child(9) {
    top: calc(35% - 45px);
    left: -21px;
}

.big-circle .icon-block:nth-child(10) {
    top: calc(10% - 8px);
    left: 128px;
}

.circle {
    animation: Rotate-reverse 15s linear infinite;
    -webkit-animation: Rotate-reverse 15s linear infinite;
    position: absolute;
    width: 60%;
    height: 60%;
    border: 1px solid #161616;
    border-radius: 50%
}

.circle .icon-block:first-child {
    top: -23px;
    left: 70px;
}

.circle .icon-block:nth-child(2) {
    top: calc(15% - 45px);
    right: 102px;
}

.circle .icon-block:nth-child(3) {
    top: calc(30% - 45px);
    right: -28px;
}

.circle .icon-block:nth-child(4) {
    bottom: calc(35% - 8px);
    right: -1px;
}

.circle .icon-block:nth-child(5) {
    bottom: calc(2% - 23px);
    right: 62px;
}

.circle .icon-block:nth-child(6) {
    top: calc(98% - 8px);
    left: 132px;
}

.circle .icon-block:nth-child(7) {
    bottom: calc(23% - 23px);
    left: -28px;
}

.circle .icon-block:nth-child(8) {
    top: calc(35% - 8px);
    left: 2px;
}

.icon-block img {
    margin: 0 auto;
    width: 86%;
    animation: Rotate-reverse 15s linear infinite;
    -webkit-animation: Rotate-reverse 15s linear infinite;
}
.icon-block {
    width: 90px;
    height: 90px;
    position: absolute;
    background: #232323;
    
    padding: 20px;
}
.big-circle, .icon-block {
    border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

@media screen and (min-width: 1400px) {
    .mainCircleOut {
        display: block !important;
    }
}

@media screen and (max-width: 1000px) {
    .mainCircleOut {
        display: none !important;
    }
}


/* @media screen and (min-width: 200px) {
    .slide-content-column {
        position: relative !important;
        right: 20% !important;
    }
}    */


@media only screen and (max-width: 600px) {
    .slide-content-column {
      font-size: 16px !important;
    }
  }


  #slider{
    height: 500px !important;
}
/* 
.carousel-control-prev {
    position: absolute !important;
    top: -500px !important;
    z-index: 50 !important;
    height: 1395px !important;

}

.carousel-control-next {
    position: absolute !important;
    top: -500px !important;
    z-index: 50 !important;
    height: 1395px !important;

}



.carousel-control-next-icon , .carousel-control-prev-icon{
    padding-top: 108px !important;
    position: relative !important;
    top: 256px !important;
} */

.carousel-control-prev{
    z-index: 50;
}

@media (min-width:1650px){
    .col-lg-8 {
        position: relative;
        left: -123px;
    }
}